.to-issue {
  padding: 100px 15px 50px 15px;
  text-align: center;

  & h1 {
    color: $black-color;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  & .to-issue-list {
    margin-bottom: 20px;

    & li {
      margin-bottom: 50px;

      & span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        margin-bottom: 20px;

        img {
          height: auto;
        }
      }

      & h3 {
        color: $red-color;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
      }

      & p strong {
        color: $green-color;
      }
    }
  }
}
