.calculator-box {
  text-align: center;
  padding: 74px 0 18px 0;
  background-color: $blue-color;

  & .calculator-box-bi .home-bi,
  .home-bi-mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  & .calculator-box-bi .home-bi {
    display: none;
  }
}

.calculator-info {
  position: absolute;
  top: -106px;
  right: 20px;
  transform: rotate(-20deg);

  & .title-mobile {
    margin: 0;
    text-shadow: -2px 3px 8px #010101;
    color: $white-text;
    font-family: $Intro;
    font-size: 22px;
    font-weight: $Regular;
    line-height: 22px;
    text-transform: uppercase;
    text-align: right;

    & strong {
      font-size: 22px;
      font-weight: 400;
    }
  }
}

.calculator-content {
  margin-top: 22px;

  & .nav-header-desc {
    display: none;
  }

  & .calculator-slider-box {
    & .calculator-slider-price,
    .calculator-slider-day {
      & .calculator-slider-info {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $red-color;
        font-size: 23px;
        font-weight: $Bold;

        & label {
          margin: 0;
          display: block;
          margin-right: 5px;
        }

        & input {
          border: 0;
          width: 80px;
          height: 32px;
          box-shadow: inset -1px 2px 5px rgba(1, 1, 1, 0.35);
          text-align: center;
          margin: 0 5px 5px 0;
          color: $white-text;
          font-size: 25px;
          font-weight: $Bold;
          line-height: 32px;
          text-transform: uppercase;
          background-color: $red-color;

          &:focus {
            outline: none;
          }
        }

        & span {
          width: 40px;
        }
      }
    }

    & .slider-scroll {
      border: 0;
      border-radius: 0;
      height: 40px;
      background-image: url("../img/shkala.svg");
      background-repeat: no-repeat;
      margin: 5px 0;
    }

    & .calculator-slider-price #slider-price,
    .calculator-slider-day #slider-day {
      border: 0;
      border-radius: 0;
      transition: 0s;
      height: 0;
      margin: 0 18px;
      background-color: $gray-color;
      position: relative;

      & span {
        border: 0;
        transition: 0s;
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../img/kapusta.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 180%;
        position: absolute;
        top: 0;
        z-index: 2;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;
        margin-left: -20px;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    & .calculator-result .calculator-result-info {
      background-color: $green-color;
      padding: 13px;
      margin-bottom: 20px;

      & .result-info-price,
      .result-info-day {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .name {
          color: $white-text;
          font-size: 14px;
          font-weight: $Regular;
          line-height: 22px;
        }

        & .value {
          color: $white-text;
          font-size: 16px;
          font-weight: $Bold;
          line-height: 22px;
        }

        & .promotional-price {
          display: none;
          color: $white-text;
          font-size: 16px;
          font-weight: $Bold;
          line-height: 22px;
          margin-left: 10px;
        }

        & .not-active-price {
          color: #de180f;
          text-decoration: line-through;
        }
      }

      & .result-info-price {
        margin-bottom: 13px;
      }
    }
  }
}

#js-choice-price,
#js-choice-day {
  display: none;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100px;
}
