.slogan {
  background-color: $orange-color;
  padding: 7px 0;
  margin: 20px 0;

  & p {
    margin: 0;
    color: #434039;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
  }
}
