.slogan {
  background-color: $green-color;
  padding: 7px 0;
  margin: 20px 0;

  & p {
    margin: 0;
    color: $white-text;
    font-size: 20px;
    font-weight: $Bold;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
  }
}
