@font-face {
  font-family: "AvantGardeGothicCTT";
  src: url("../fonts/AvantGardeGothicC-Book.woff2") format("woff2"),
    url("../fonts/AvantGardeGothicC-Book.woff") format("woff"),
    url("../fonts/AvantGardeGothicC-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvantGardeGothicCTT";
  src: url("../fonts/AvantGardeGothicC-Demi.woff2") format("woff2"),
    url("../fonts/AvantGardeGothicC-Demi.woff") format("woff"),
    url("../fonts/AvantGardeGothicC-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.woff2") format("woff2"),
    url("../fonts/Intro.woff") format("woff"),
    url("../fonts/Intro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HeliosCond.woff2") format("woff2"),
    url("../fonts/HeliosCond.woff") format("woff"),
    url("../fonts/HeliosCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
