/* === calculator-box === */

@media (min-width: 1200px) {
  .title-section,
  .title-section a {
    padding: 0;
    color: $red-color;
    font-size: 40px;
    line-height: 60px;
    text-align: left;
  }
}

/* === heeader responsive === */

@media (min-width: 1200px) {
  body.sticky-header {
    .header {
      background-color: rgba(255, 255, 255, 0.9);
      height: 100px;
      box-shadow: 0 2px 7px rgba(38, 38, 38, 0.1);
    }

    .header-box {
      height: 100px;

      & .logo {
        & a {
          display: block;
          width: 220px;
          height: 100%;
        }
      }

      & .header-contact .phone a {
        font-size: 50px;
        line-height: 50px;
      }

      & .user-options .languages {
        position: relative;
        z-index: -1;
        margin-top: -150px;
      }
    }
  }

  .header {
    height: 210px;
  }

  .header-box {
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .navigations {
      display: none;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    & .header-contact {
      display: block;
      padding-top: 17px;

      & .phone {
        display: block;

        & a {
          color: $red-color;
          font-size: 55px;
          line-height: 70px;
          font-weight: $Bold;
        }
      }

      & .phone-info {
        color: #b2b2b2;
        font-size: 28px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    & .logo {
      margin: 0;

      & a {
        display: block;
        width: 420px;
        height: 100%;

        & img {
          display: block;
          width: 100%;
          height: auto;
          cursor: pointer;
        }
      }
    }

    & .user-options {
      align-self: flex-start;

      & .personal-area-box {
        margin-bottom: 36px;

        & .personal-area-desc {
          display: block;
          width: 180px;
          height: 90px;
          border-radius: 0 0 90px 90px;
          background-color: $red-color;
          text-align: center;
          color: #ffffff;
          font-size: 22px;
          font-weight: 400;
          line-height: 23px;
          text-transform: uppercase;
          padding: 20px 20px 0 20px;
        }

        & .personal-area-mobile {
          display: none;
        }
      }

      & .languages {
        margin: 0;
        display: flex;
        position: relative;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    border: 0;
    padding: 0;
    width: 34px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0);
    outline: none !important;
    position: relative;
    right: 0;
    z-index: 5;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
    padding-top: 60px;

    & .navbar-nav {
      align-items: center;

      & li {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        & a {
          padding: 0;
        }
      }
    }
  }

  body.sticky-header {
    .header {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

/* === article === */

@media (min-width: 1200px) {
  .article {
    padding: 30px 0;

    & .title-section {
      display: none;
    }

    & p {
      font-size: 16px;
      line-height: 20px;
      font-weight: $Regular;
      color: $text-color;
      margin-bottom: 10px;
    }
  }
}

/* === calculator-box === */

@media (min-width: 1200px) {
  .calculator-box {
    background-color: $white;
    padding: 0;
    position: relative;
    padding-top: 0;
    overflow: hidden;

    & .home-bi,
    .home-bi-mobile {
      display: none;
    }

    & .calculator-box-bi {
      width: 100%;
      position: absolute;
      height: 1080px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      & .home-bi {
        display: block;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }

  .calculator-info {
    display: none;
  }

  .calculator-content {
    margin: 0;
    padding: 0;
    height: 1080px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding-top: 250px;

    & .nav-header-desc {
      display: block;
      flex: 0 0 17%;

      & ul li {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        & a {
          display: block;
          width: 182px;
          height: 182px;
          border-radius: 50%;
          background-color: $yellow-color;
          box-shadow: 6px 6px 0 rgba(1, 1, 1, 0.45);
          color: #000000;
          font-size: 28px;
          font-weight: $Bold;
          line-height: 32px;
          text-transform: uppercase;
          text-align: center;
          line-height: 182px;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    & .calculator-slider-box {
      flex: 0 0 80%;
      padding-top: 100px;

      & .calculator-slider-price,
      .calculator-slider-day {
        position: relative;

        & .calculator-slider-info {
          justify-content: flex-start;
          align-items: center;

          & label,
          span {
            text-shadow: 6px 6px 25px #010101;
            color: $white;
            font-size: 40px;
            text-transform: uppercase;
          }

          & input {
            margin: 0;
            width: 600px;
            height: 112px;
            border-radius: 100px;
            line-height: 112px;
            background-color: $white;
            box-shadow: 7px 7px 50px #010101;
            margin: 0 20px;
            color: $red-color;
            font-size: 50px;
            text-align: right;
            padding-right: 25px;
          }
        }

        & .slider-scroll {
          width: 45%;
          height: 45px;
          position: absolute;
          left: 21%;
          top: 50%;
          transform: translateY(-50%);
        }

        & #slider-day span,
        #slider-price span {
          display: block;
          width: 60px;
          height: 60px;
          top: -20px;
          margin-left: -35px;
        }
      }

      & .calculator-slider-price {
        margin-bottom: 60px;
      }

      & .calculator-slider-day {
        margin-bottom: 110px;
      }

      & .calculator-result {
        width: 600px;
        height: 180px;
        border-radius: 60px;
        box-shadow: 7px 7px 50px #010101;
        background-color: rgba(255, 255, 255, 0.65);
        position: relative;
        margin-left: 150px;

        & .calculator-result-info {
          width: 60%;
          background-color: rgba(255, 255, 255, 0);
          padding: 33px 0 0 30px;

          & .result-info-price,
          .result-info-day {
            & .name {
              flex: 0 0 45%;
              text-align: right;
              color: $text-color;
              font-weight: $Bold;
            }

            & .value {
              flex: 0 0 50%;
              text-align-last: left;
              color: $text-color;

              & .promotional-price {
                color: $green-color;
              }
            }
          }
        }

        & .link-promocode {
          width: 60%;
          text-align-last: left;
        }

        & .btn {
          width: 300px;
          height: 300px;
          border-radius: 50%;
          box-shadow: 6px 6px 0 rgba(1, 1, 1, 0.45);
          position: absolute;
          right: -75px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $red-color;
          text-align: center;

          & span {
            flex: 0 0 100%;
            color: $white;
            font-size: 47px;
            line-height: 58px;
          }

          &::before {
            display: none;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* === section-info === */

@media (min-width: 1200px) {
  .section-info {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    & .section-info-img {
      flex: 0 0 25%;
      display: block;

      & img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    & .section-info-list {
      flex: 0 0 67%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & .title-section {
        flex: 0 0 100%;
        padding: 0;

        & a {
          padding: 0;
        }
      }

      & .section-item {
        & .item-content-img {
          margin: 0;
          height: 80px;
          margin-bottom: 10px;
          display: flex;
          justify-content: flex-start;

          & svg {
            fill: $white;
          }

          & #Layer_106 {
            stroke: $white;
          }
        }

        & .item-content-info {
          & .title {
            color: #3c3c3b;
            font-size: 24px;
            font-weight: $Bold;
            line-height: 28px;
            text-align: left;
            font-family: $Avant;
            text-transform: none;
            margin-bottom: 14px;
          }

          & .text {
            color: #3c3c3b;
            font-family: $Avant;
            font-size: 18px;
            font-weight: $Regular;
            line-height: 20px;
            text-align: left;
            text-transform: none;
          }
        }
      }
    }

    & .desc-five-item .section-item {
      margin: 0;
      flex: 0 0 19%;
      display: block;
      text-align: center;
    }

    & .desc-four-item .section-item {
      margin: 0;
      flex: 0 0 24%;
      display: block;
      text-align: center;
    }

    & .desc-three-item .section-item {
      margin: 0;
      flex: 0 0 31%;
      display: block;
      align-items: flex-start;

      & .item-num {
        padding: 0 20px;

        &::after {
          right: 50px;
        }
      }
    }
  }
}

/* === footer === */

@media (min-width: 1200px) {
  .footer-mobile {
    display: none;
  }

  .footer {
    display: block;
  }

  .footer-box .footer-nav-box .footer-nav {
    & h3 {
      color: $text-color;
    }

    & ul li a {
      color: $text-color;

      &:hover {
        color: $white-text;
      }
    }
  }
}

/* === home page === */
@media (min-width: 1200px) {
  .blue-wrapper {
    background-color: $white;
  }
}

@media (min-width: 1200px) {
  .desctop-not-active {
    display: none !important;
  }
}

@media (max-width: 575px) {
  .mobile-not-active {
    display: none !important;
  }
}
