/* Colors */

$white: #fff;
$white-text: #fff;
$black-color: #000;
$red-color: #e30613;
$blue-color: #8cd5e1;
$yellow-color: #ffde00;

$text-color: #231f20; //==
$text-color-light: #7b7373; //==
$green-color: #52ae32; //==
$gray-light-color: #e5e5e5;
$gray-color: #706f6f; //==
$orange-color: #ffad00; //==
$hover-color: #ffc400; //==
$title-color: #231f20; //==

/* Fonts */

$Akrobat: "Akrobat", sans-serif;

$light: 300;
$Regular: 500;
$Bold: bold;
$ExtraBold: 800;
$Black: 900;

// $h1: 29px;
// $h2: 26px;
// $h3: 20px;
// $h4: 17px;
// $h5: 15px;
// $h6: 14px;

/*text*/

$font-text: 16px;
